NET "a[0]"          LOC=J15 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_RS0_15
NET "a[1]"          LOC=L16 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_EMCCLK_14
NET "a[2]"          LOC=M13 | IOSTANDARD=LVCMOS33; #IO_L6N_T0_D08_VREF_14
NET "a[3]"          LOC=R15 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_14
NET "a[4]"          LOC=R17 | IOSTANDARD=LVCMOS33; #IO_L12N_T1_MRCC_14
NET "a[5]"          LOC=T18 | IOSTANDARD=LVCMOS33; #IO_L7N_T1_D10_14
NET "a[6]"          LOC=U18 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A13_D29_14
NET "a[7]"          LOC=R13 | IOSTANDARD=LVCMOS33; #IO_L5N_T0_D07_14
NET "a[8]"          LOC=T8 | IOSTANDARD=LVCMOS18; #IO_L24N_T3_34
NET "a[9]"          LOC=U8 | IOSTANDARD=LVCMOS18; #IO_25_34
NET "a[10]"         LOC=R16 | IOSTANDARD=LVCMOS33; #IO_L15P_T2_DQS_RDWR_B_14
NET "a[11]"         LOC=T13 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_A03_D19_14
NET "a[12]"         LOC=H6 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_35
NET "a[13]"         LOC=U12 | IOSTANDARD=LVCMOS33; #IO_L20P_T3_A08_D24_14
NET "a[14]"         LOC=U11 | IOSTANDARD=LVCMOS33; #IO_L19N_T3_A09_D25_VREF_14
NET "a[15]"         LOC=V10 | IOSTANDARD=LVCMOS33; #IO_L21P_T3_DQS_14
NET "out"            LOC=H17 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A24_15
NET "a_bit"          LOC=V11 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_RS1_15
NET "clk" 			   CLOCK_DEDICATED_ROUTE = FALSE; 
NET "clk"            LOC=N17 | IOSTANDARD=LVCMOS33; #IO_L9P_T1_DQS_14