//! **************************************************************************
// Written by: Map P.20131013 on Sun Aug 25 14:12:01 2019
//! **************************************************************************

SCHEMATIC START;
COMP "a_bit" LOCATE = SITE "V11" LEVEL 1;
COMP "clk" LOCATE = SITE "N17" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "a<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "a<10>" LOCATE = SITE "R16" LEVEL 1;
COMP "a<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "a<11>" LOCATE = SITE "T13" LEVEL 1;
COMP "a<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "a<12>" LOCATE = SITE "H6" LEVEL 1;
COMP "a<3>" LOCATE = SITE "R15" LEVEL 1;
COMP "a<13>" LOCATE = SITE "U12" LEVEL 1;
COMP "a<4>" LOCATE = SITE "R17" LEVEL 1;
COMP "a<14>" LOCATE = SITE "U11" LEVEL 1;
COMP "a<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "a<15>" LOCATE = SITE "V10" LEVEL 1;
COMP "a<6>" LOCATE = SITE "U18" LEVEL 1;
COMP "a<7>" LOCATE = SITE "R13" LEVEL 1;
COMP "a<8>" LOCATE = SITE "T8" LEVEL 1;
COMP "a<9>" LOCATE = SITE "U8" LEVEL 1;
COMP "out" LOCATE = SITE "H17" LEVEL 1;
SCHEMATIC END;

